body {
  background: #F6F2EA;
  font: 16px/26px Consolas, Arial;
}

a {
  color: #B28C10;
  text-decoration: none;
}
a:hover {
  color: #C99F13;
}

article {
  padding: 0;
}

.iframe-frame {
  border: 2px solid #111;
  border-top: none;
  -webkit-box-shadow: 0 5px 10px #C0A574;
  -moz-box-shadow: 0 5px 10px #C0A574;
  box-shadow: 0 5px 10px #C0A574;
  height: 200px;
  margin-bottom: 20px;
	overflow-y: scroll;
  padding: 0;
}
@media (max-width: 768px) {
	.iframe-frame {
		border: none;
	}
}

iframe {
  background: #fff;
  border: 0;
  opacity: 0;
  transition: opacity .333s ease-in;
  width: 100%;
}
iframe.lazy-loading {
  background: #000;
  opacity: 0.5;
  width: 100%;
}
iframe.lazy-loaded {
  opacity: 1;
}

h1 {
  margin: 0.3em 0;
}
h2, h3 {
  border: 2px solid #111;
  border-bottom: none;
  margin: 0;
}
@media (max-width: 768px) {
	h2, h3 {
		border-left: none;
		border-right: none;
	}
}
h2 {
  background: #C0A574;
  padding: 5px 10px 1px;
}
h3 {
  background: #E7DCC9;
  font-size: 0.9em;
  padding: 2px 10px;
}
h4 {
  margin: 0;
}

.header-container {
  background: #E9E0CF;
  border-bottom: 5px solid #D0BC94;
  margin: 0 0 10px;
}
.header-container .wrapper {
  margin: 0 2%;
}

.header-container .wrapper .title {
  color: #4F4023;
}

.main-container {
  padding: 0;
}
.main-container .wrapper, .main-container .main {
  margin: 0 auto;
  padding: 2px 0;
  width: 97%;
}
@media (max-width: 768px) {
	.main-container .wrapper, .main-container .main {
		width: 100%;
	}
}
.main-container .wrapper article {
  margin: 0 auto;
  width: 100%;
}
.main-container .wrapper select#toc {
  margin: 0px 30px 10px 0px;
}

.footer-container {
  background: #E9E0CF;
  border-top: 5px solid #D0BC94;
  margin: 0;
  padding: 10px 0;
}

.footer-container footer {
  color: #8D6F0D;
  padding: 5px 0;
}
