:root {
  --bandcampBG: hsl(198, 60%, 57%);
  --bulmaBG: hsl(165, 53%, 59%);
  --bulmaFG: hsl(220, 13%, 14%);
  --composerBG: hsl(28, 43%, 36%);
  --cssBG: hsl(230, 68%, 51%);
  --drupalBG: hsl(225, 60%, 23%);
  --homerBG: hsl(224, 60%, 53%);
  --htmlBG: hsl(13, 60%, 50%);
  --hugoBG: hsl(327, 65%, 43%);
  --javascriptBG: hsl(54, 80%, 61%);
  --jekyllBG: hsl(0, 0%, 20%);
  --jekyllFG: hsl(46, 92%, 62%);
  --jplayerBG: hsl(207, 69%, 57%);
  --jqueryBG: hsl(202, 78%, 75%);
  --mysqlBG: hsl(210, 32%, 43%);
  --nginxBG: hsl(131, 38%, 42%);
  --nodejsBG: hsl(101, 33%, 49%);
  --phpBG: hsl(231, 27%, 44%);
  --pm2BG: hsl(259, 91%, 25%);
  --postgresqlBG: hsl(180, 23%, 40%);
  --railsBG: hsl(5, 75%, 42%);
  --redirectBG: #233026;
  --slBG: #80D2B4;
  --sqliteBG: hsl(207, 55%, 57%);
  --uptimekumaBG: hsl(133, 56%, 71%);
  --vuejsBG: hsl(145, 36%, 55%);
  --wallabagBG: hsl(214, 29%, 39%);
  --wordpressBG: hsl(213, 11%, 16%);

  --pure-white: hsl(255, 100%, 100%);
  --pure-black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: 'Cabin';
  src: url(https://fonts.neb.host/Cabin/static/Cabin-Regular.ttf);
}

/* standard html tags */
body {
  background: #f6f2ea;
  font: 16px/26px Consolas, Arial, sans-serif;
}

a {
  color: #b28c10;
  text-decoration: none;

  &:hover {
    color: #c99f13;
  }
}

h1 {
  font-family: 'Cabin';
  font-size: 2.5em;
  margin: 0.1em 0 0.04em;
  padding-left: 5px;
  text-shadow: 1px 1px 1px #d0bc94;
}

h2,
h3 {
  border-left: none;
  border-right: none;
  margin: 0 auto;

  @media (min-width: 768px) {
    border: 2px solid #111;
    border-bottom: none;
  }
}

h2 {
  background: #c0a574;
  padding: 2px 10px;
}

h3 {
  background: #e7dcc9;
  font-size: 0.9em;
  padding: 2px 10px;
}

h4 {
  font-size: 0.75em;
  margin: 0;
}

h5 {
  font-size: 0.9em;
  margin: 0;
}

iframe {
  background: var(--pure-white);
  border: 0;
  height: 380px;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.333s ease-in;
  width: 100%;

  @media (min-width: 992px) {
    height: 300px;
  }
}

.iframe-frame {
  -moz-box-shadow: 0 5px 10px #c0a574;
  -webkit-box-shadow: 0 5px 10px #c0a574;
  border: 0;
  box-shadow: 0 5px 10px #c0a574;
  height: 380px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;

  @media (min-width: 768px) {
    border: 2px solid #111;
  }

  @media (min-width: 992px) {
    height: 300px;
  }
}

article {
  padding: 0;

  &#sites-current {
    box-shadow: 0 5px 10px #999;
  }

  &#sites-archived {
    background: #ddd8ce;
    border-top: 3px solid #c0a574;
    clear: both;

    @media (min-width: 992px) {
      height: auto;
    }

    details {
      background: #f3f0e7;
      cursor: pointer;
      height: 30px;
      padding: 0.65em;
    }
  }
}

section {
  float: none;
  height: 515px;
  margin: 0;
  width: auto;

  @media (min-width: 992px) {
    float: left;
    height: 430px;
    margin: 0;
    width: 50%;
  }

  &.hidden {
    display: none;
  }

  &.archived {
    opacity: 0.3;

    @media (min-width: 992px) {
      width: 33%;
    }
  }

  .site-inner {
    padding: 10px;

    .site-header {
      background: none;
      border: 0;
      color: #5a492a;
      padding: 0;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .site-blurb {
      background: none;
      border: 0;
      color: #6d5220;
      line-height: 1.3;
      padding: 0;
    }

    .site-link {
      background: none;
      border: 0;
      display: block;
      padding: 0;
    }

    .site-tech {
      background: none;
      border: 0;
      color: #7e6331;
      line-height: 1.5;
      padding: 0 0 0.5rem;
    }
  }
}

/* custom classes */
.wrapper {
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.loading {
  padding: 10px;
}

.header-container {
  background: #e9e0cf;
  border-bottom: 5px solid #d0bc94;
  height: 32px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 2;

  .wrapper .title {
    color: #4f4023;
  }
}

#filter {
  background: #f6f2ea;
  display: flex;
  flex-wrap: nowrap;
  gap: 0 0.1em;
  margin-top: 5px;
  max-height: 35px;
  overflow-x: auto;
  padding: 0.4rem 0.3rem;
  position: sticky;
  z-index: 2;

  .change-filter {
    background-color: #cdbd99;
    border-color: #333;
    border-width: 2px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    margin: 0;

    &:not(.active):hover {
      filter: brightness(125%);
    }
  }
}

.main-container {
  margin-bottom: 142px;
  padding: 0;
  position: relative;
  top: 80px;

  @media (min-width: 1145px) {
    margin-bottom: 122px;
  }

  .wrapper,
  .main {
    width: 100%;

    @media (min-width: 768px) {
      margin: 0 auto;
      padding: 2px 0;
    }
  }

  .wrapper article {
    margin: 0 auto;
    width: 100%;
  }
}

.lazy-loading {
  background: var(--pure-black);
  opacity: 0.5;
  width: 100%;
}

.lazy-loaded {
  opacity: 1;
}

.tag,
#filter .change-filter.active {
  border-color: var(--pure-black);
  border-radius: 5px;
  display: inline-block;

  &.all {
    background-color: var(--pure-white);
    color: var(--pure-black)
  }

  &.bandcamp {
    background-color: var(--bandcampBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.bulma {
    background-color: var(--bulmaBG);
    color: var(--bulmaFG);

    a {
      color: var(--bulmaFG);
    }
  }

  &.composer {
    background-color: var(--composerBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.css {
    background-color: var(--cssBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.drupal {
    background-color: var(--drupalBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.homer {
    background-color: var(--homerBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.hugo {
    background-color: var(--hugoBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.html {
    background-color: var(--htmlBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.javascript {
    background-color: var(--javascriptBG);
    color: var(--pure-black);

    a {
      color: var(--pure-black);
    }
  }

  &.jekyll {
    background-color: var(--jekyllBG);
    color: var(--jekyllFG);

    a {
      color: var(--jekyllFG);
    }
  }

  &.jplayer {
    background-color: var(--jplayerBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.jquery {
    background-color: var(--jqueryBG);
    color: var(--pure-black);

    a {
      color: var(--pure-black);
    }
  }

  &.mysql {
    background-color: var(--mysqlBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.nginx {
    background-color: var(--nginxBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.nodejs {
    background-color: var(--nodejsBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.php {
    background-color: var(--phpBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.pm2 {
    background-color: var(--pm2BG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.postgresql {
    background-color: var(--postgresqlBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.rails {
    background-color: var(--railsBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.redirect {
    background-color: var(--redirectBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.soundlister {
    background-color: var(--slBG);
    color: var(--pure-black);

    a {
      color: var(--pure-black);
    }
  }

  &.sqlite {
    background-color: var(--sqliteBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.uptime-kuma {
    background-color: var(--uptimekumaBG);
    color: var(--pure-black);

    a {
      color: var(--pure-black);
    }
  }

  &.vuejs {
    background-color: var(--vuejsBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.wallabag {
    background-color: var(--wallabagBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }

  &.wordpress {
    background-color: var(--wordpressBG);
    color: var(--pure-white);

    a {
      color: var(--pure-white);
    }
  }
}

.tag {
  border: 2px solid var(--pure-black);
  margin: 0.25em 0.25em 0 0;
  padding: 0 0.4rem;
}

.change-filter {
  padding: 0.2rem 0.4rem;
}
