body {
  background: #f6f2ea;
  font: 16px/26px Consolas, Arial, sans-serif;
}

a {
  color: #b28c10;
  text-decoration: none;
}

a:hover {
  color: #c99f13;
}

h1 {
  font-family: 'Cabin';
  font-size: 2.5em;
  margin: 0.1em 0 0.04em;
  padding-left: 5px;
  text-shadow: 1px 1px 1px #d0bc94;
}

h2,
h3 {
  border: 2px solid #111;
  border-bottom: none;
  margin: 0;
}

@media (max-width: 767px) {
  h2,
  h3 {
    border-left: none;
    border-right: none;
  }
}

h2 {
  background: #c0a574;
  padding: 2px 10px;
}

h3 {
  background: #e7dcc9;
  font-size: 0.9em;
  padding: 2px 10px;
}

h4 {
  margin: 0;
}

.lazy-loading {
  background: #000;
  opacity: 0.5;
  width: 100%;
}

.lazy-loaded {
  opacity: 1;
}

.header-container {
  background: #e9e0cf;
  border-bottom: 5px solid #d0bc94;
  height: 32px;
  margin: 0 0 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-container .wrapper {
  margin: 0;
}

.header-container .wrapper .title {
  color: #4f4023;
}

.main-container {
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  top: 50px;
}

.main-container .wrapper,
.main-container .main {
  margin: 0 auto;
  padding: 2px 0;
  width: 97%;
}

@media (max-width: 767px) {
  .main-container .wrapper,
  .main-container .main {
    width: 97%;
  }
}

.main-container .wrapper article {
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}

#toc {
  margin: 0 30px 10px 0;
  width: auto;
}

@media (max-width: 768px) {
  #toc {
    margin: 0 30px 10px 0;
    width: 100%;
  }
}

article {
  padding: 0;
}

section {
  float: none;
  margin: 0 10px;
  width: auto;
}
section.archived {
  opacity: 0.5;
}
section .site-header {
  background: none;
  border: 0;
  color: #5a492a;
  padding: 3px 5px 0;
}
section .site-blurb {
  background: none;
  border: 0;
  color: #6d5220;
  line-height: 1.3;
  padding: 0 5px;
}
section .site-link {
  background: none;
  border: 0;
  display: block;
  padding: 0 5px 2px;
}

@media (min-width: 1030px) {
  section {
    float: left;
    margin: auto 5px auto 0;
    width: 49%;
  }
}

.iframe-frame {
  -moz-box-shadow: 0 5px 10px #c0a574;
  -webkit-box-shadow: 0 5px 10px #c0a574;
  border: 0;
  box-shadow: 0 5px 10px #c0a574;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
}

@media (min-width: 768px) {
  .iframe-frame {
    border: 2px solid #111;
  }
}

iframe {
  background: #fff;
  border: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.333s ease-in;
  width: 100%;
}

.footer-container {
  background: #e9e0cf;
  border-top: 5px solid #d0bc94;
  bottom: 0;
  color: #8d6f0d;
  font-family: 'Overpass Mono', monospace;
  font-size: 0.9em;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
